.jar
.zip
./Discord_Relay
/Discord_Relay
Discord_Relay
*.zip
*.jar
/BetterMap/Data
BetterMap/player_configs/
/LuckPerms_Luckperms/
markers/
*.bk
*.bak
*.old
*.tmp
*.disabled
chewy_essentials/
.sentry-cache/
CachedAssets/
CachedAvatarPreviews/
CachedPlayerSkins
Logs/
Scenes/
Telemetry/
*.cache
CommandHistory.json
ServerList.json
Settings.json